<h2>Your Persona cards</h2>
<% if (cards.length) { %>
   <ul>
   <% cards.forEach(function (card) { %>
      <li><%=: card.name| capitalize %></li>
   <% }); %>
   </ul>
<% } else { %>
   <p>You don't have any!</p>
<% } %>

<p><a href="/new">Create a new card</a></p>

<p><a href="/logout">Sign out</a></p>
