<script src="<%= includejs %>"></script>
<script src="/login.js"></script>

<form id="login-form" method="POST" action="/login">
<input id="assertion-field" type="hidden" name="assertion" value="">
</form>

<h2>Sign into the Card Server</h2>

<div><a href="javascript:login()">Sign in with Persona</a></div>
